$spacing-unit: 4px;

// Spacing Function
//
// 

// Usage: multiply the spacing size to define the scale of spacing
// Example:
//
// $spacing-unit: 4px;
//
// spacing(1) = 4px
// spacing(2) = 8px
// spacing(3) = 12px
// spacing(4) = 16px
// spacing(5) = 20px
// spacing(6) = 24px
// spacing(7) = 28px
// spacing(8) = 32px

@function spacing($function-multiply-value){

	@return ($spacing-unit * $function-multiply-value)
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {

	box-sizing: inherit;
}

html {

	height: 100%;
}

body {

	margin: 0;
	min-height: 100%;
	border: spacing(2) solid hsl(214, 81%, 30%);
	color: hsl(270, 3%, 23%);
	background-color: hsl(0, 0%, 98%);
	padding: 2rem 10%;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.6;
}

a {

	color: hsl(214, 81%, 35%);
}

strong {
	
	color: hsl(214, 68%, 22%);
	text-shadow: 0 1px 0 white;
}

em {
	
	background-color: #fff;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

img {

	max-width: 100%;
	height: auto;
}

.site-banner {
	
	border-bottom: $spacing-unit solid hsl(214, 81%, 35%);
	margin-bottom: spacing(4);
	
	.landing & {
		
		margin-bottom: 0;
	}
}

.site-footer {
	
	border-top: $spacing-unit solid hsl(214, 81%, 35%);
	margin-top: spacing(4);
	padding-top: spacing(4);
}

.page-footer {
	
	font-size: 90%;
	border-top: $spacing-unit solid hsl(214, 81%, 35%);
	margin-top: spacing(4);
	padding-top: spacing(4);
	
	&:last-child {
		
		margin-bottom: 0;
	}
}

.reset-heading {

	font-size: 1rem;
	font-weight: normal;
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	
	position: relative;
	word-break: break-all;
}

h2 {
	margin-top: spacing(9);
	margin-bottom: spacing(6);
}

h3 {
	margin-top: spacing(7);
	margin-bottom: spacing(6);
}

p {
	margin-bottom: spacing(5);
}

.heading {

	font-weight: bold;
}

.heading__de-emphasise {

	font-weight: normal;
	font-style: italic;
}
.heading__de-emphasise:before {

	content: "/";
	margin-right: spacing(2);
}

.heading--alpha {

	font-size: 2rem;
}

.post {
	
	.p-description {
		
		border-top: 1px solid hsl(0, 0%, 85%);
		padding-top: 30px;
		border-bottom: 1px solid hsl(0, 0%, 85%);
		padding-bottom: 30px;
		font-size: 1.15rem;
	}
	
	h2 {
		font-size: 1.45rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
} 

.reset-list {

	list-style: none;
	list-style-image: none;
	padding-left: 0;
}

.list--standard {

	padding-left: spacing(5);
	
	> :last-child {
		
		margin-bottom: 0;
	}
}

.list--standard > li {

	margin-bottom: spacing(1);
}

.list--inline {

	display: block;
}

.list--inline > li {

	display: inline;
}


.list--csv > li:after {

	content: ",";
}
.list--csv > li:last-child:after {

	display: none;
}

.list--breadcrumb > li:after {

	content: " /";
}
.list--breadcrumb > li:last-child:after {

	display: none;
}

.list--breadcrumb {
	
	&,
	a {
		
		color: #989898;
	}
	
	a:hover {
		
		color: #0f448a;
	}
}

.list--divided > li {
	
	border-top: 1px solid hsl(0, 0%, 85%);
}

.reset-figure {
	margin: 0;
	display: inline-block;
}
.reset-figcaption {
}
.reset-line-height {
	line-height: 0;
}


.card--profile {
	
	border: spacing(1) solid hsl(0, 0%, 100%);
	
	text-align: center;
	position: relative;
	
	.card__text {
		color: hsl(0, 0%, 98%);
	}
	.card__text__heading {
		background-color: hsl(214, 81%, 40%);
	}
	.card__text__description {
		background-color: hsl(214, 81%, 35%);
	}
}
.card__text {
	font-weight: 100;
}
.card__text__heading {
	padding: 0.5rem;
	margin-bottom: 0;
	font-weight: inherit;
}
.card__text__description {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0.5rem;
	font-weight: inherit;
}

.card--linked {
	text-decoration: none;
	display: inline-block;
}
.card--article {
	border: spacing(1) solid hsl(214, 81%, 35%);
	background-color: white;
	
	.card__text__heading {
		border-bottom: 1px solid hsl(214, 81%, 35%);
	}
}
.card__link-target {
	text-decoration: underline;
}
@media (max-width: 531px) {
	.card--profile {
		display: none;
	}
}

@media (min-width: 532px) {

	.card--profile {
		
		float: right;
		margin-left: spacing(4);
		margin-bottom: spacing(4);
	}

}

@media (max-width: 687px) {
	.card--profile {
		
		width: 200px;
		padding-bottom: 192px + 76px;
		overflow: hidden;
	}
	.card__image {
		position: absolute;
		left: 0;
	}
	.landing .card__text {
		position: absolute;
		bottom: 0;
		width: 100%;
}
}

// Heading
@media (min-width: 433px) {
	.vcard .heading--alpha {
		text-align: center;
	}
}
@media (max-width: 523px) {
	.vcard .heading--alpha {
		font-size: 1rem;
	}
}
@media (min-width: 524px) {
	.vcard .heading--alpha {
		font-size: 1.25rem;
	}
}
@media (min-width: 688px) {
	.vcard .heading--alpha {
		font-size: 1.5rem;
	}
}
@media (min-width: 826px) {
	.vcard .heading--alpha {
		font-size: 2rem;
	}
}
// @media (max-width: 825px) {
// 	.card--profile {
// 		display: none;
// 	}
// }

.wrap {
	max-width: 55rem;
	margin-right: auto;
	margin-left: auto;
}

blockquote {


    border: 1px solid #0e448a;
    background-color: hsl(0, 0%, 95%);
    padding: 0 1rem;
		position: relative;
		margin-bottom: 2rem;
		
		> :first-child {
			
			&:before {
				
				content: "";
				margin-left: 2rem;
			}
		}
		
		> :last-child {
			
			&:after {
				
				content: "";
				margin-right: 2rem;
			}
		}
		
		&:before {
			
			content: "“";
	    color: #0e448a;
			font-size: 3rem;
			position: absolute;
			top: 0;
			left: 1rem;
			line-height: 1.5;
		}
		
		&:after {
			
			content: "”";
	    color: #0e448a;
			font-size: 3rem;
			position: absolute;
			bottom: 0;
			right: 1rem;
			line-height: 0.5;
		}
}

a {
	word-break: break-all;
	display: inline;
}

[href*="//"]:not([href*="benjamin.parry.is"]) {
	position: relative;
	
	&:after {
		content: "\2009»";
		display: inline-block;
	}
}


.heading__anchor {
	position: relative;
	border-top: 1px solid hsl(0, 0%, 88%);
	padding-top: 1.5rem;
	margin-top: 1.75rem;
	display: block;
	
}
.e-content h2:first-child .heading__anchor {
	
	padding-top: 0;
	border-top: none;
	
	&:before {
		top: 0;
	}
}

.heading__anchor:before {
	content: '#';
	position: absolute;
	top: 1.5rem;
	left: -1em;
}

[role="navigation"] .list--standard {
	padding-left: 0;
}

[role="navigation"] > a {
	text-decoration: none;
	padding: 1px 5px 4px 5px;
	
	&.active {
		background-color: hsl(214, 81%, 35%);
		color: #fff;
	}
}
[role="navigation"] .list--standard > li {
	font-weight: bold;
	display: inline;
	margin-right: spacing(5);
}
[role="navigation"] .list--standard .list {
	font-weight: normal;
}

[role="navigation"] .list__item > a {
	padding: 3px 5px 2px 5px;
}

[role="navigation"] .list__item--active > a {
	
	color: #fff;
	position: relative;
	text-decoration: none;
	background-color: hsl(214, 81%, 35%);
}

[role="navigation"] .list__item--active > a span {
	
	position: relative;
	z-index: 1;
}

[role="contentinfo"] {
	margin-top: spacing(4);
}
// Utility
.utility-font-size-80 {
	font-size: 80%;
}
.utility-font-size-120 {
	font-size: 120%;
}
.utility-font-size-150 {
	font-size: 150%;
}
.utility-font-size-200 {
	font-size: 200%;
}

.utility-font-weight-normal {
	
	font-weight: normal;
}

.utility-push-down-6 {
	
	margin-bottom: spacing(6);	
}

// http://type-scale.com/



.learning {
	
	position: relative;
	margin-left: -2%;
	padding-right: 2%;
	margin-top: spacing(5);
	margin-bottom: spacing(5);
	
}
.learning__content {
	
	padding: spacing(2);
	border: 1px solid #0e448a;
	background-color: hsl(0, 0%, 95%);
	// width: 66.666666667%;
	width: 75%;	
	> :first-child {
		
		margin-top: 0;
	}
	
	> :last-child {
		
		margin-bottom: 0;
	}
}

.page-buster {
	
	width: 130%;
	margin-left: -15%;
	font-size: 0;
	position: relative;
}

.page-buster--image-thirds {
	
	img,
	video {
		width: 33.333333333%;
	}
}

.page-buster--image-quarters {
	
	img,
	video {
		width: 25%;
	}
}

.post-contents {
	float: right;
	padding: spacing(3);
	border: 1px solid #989898;
	background-color: hsl(0, 0%, 95%);
	color: #989898;
	margin-left: spacing(4);
	margin-bottom: spacing(4);
	width: 33.333333333%;
	
	a,
	strong {
		color: inherit;
	}
	
	a:hover {
		color: #0e448a;
	}
	
	> :last-child {
		
		margin-bottom: 0;
	}
}

.challange {
	
	border-left: spacing(1) solid #0e448a;
	padding-left: spacing(3);
	margin-left: -(spacing(3));
	color: black;
	font-size: 110%;
}

.conclusion {
	
	background-color: #fff;
	width: 110%;
	margin-left: -5%;
	padding: 5%;
	border: 1px solid #989898;
	
	> :first-child {
		
		margin-top: 0;
	}
	
	> :last-child {
		
		margin-bottom: 0;
	}
}


.image-pointers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: #1150a2;
  padding: 4px 4px 2px 4px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #0e4286;
}
.image-pointers:before {
  content: "";
  display: block;
  height: 8px;
  width: 2px;
  background-color: #0e4286;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  z-index: 2;
}
.image-pointers--bottom:before {
  bottom: -8px;
}
.image-pointers--top:before {
  top: -8px;
}

.meta {
	margin-bottom: spacing(4);
}


.posse {
	width: 104%;
	margin-left: -2%;
	background-color: #fff;
	padding: spacing(4);
	border: 1px solid #989898;
	
}
