$spacing-unit: 4px;

// Spacing Function
//
// 

// Usage: multiply the spacing size to define the scale of spacing
// Example:
//
// $spacing-unit: 4px;
//
// spacing(1) = 4px
// spacing(2) = 8px
// spacing(3) = 12px
// spacing(4) = 16px
// spacing(5) = 20px
// spacing(6) = 24px
// spacing(7) = 28px
// spacing(8) = 32px

@function spacing($function-multiply-value){

	@return ($spacing-unit * $function-multiply-value)
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {

	box-sizing: inherit;
}

html {

	height: 100%;
}

body {

	margin: 0;
	min-height: 100%;
	border: spacing(2) solid hsl(214, 81%, 30%);
	color: hsl(270, 3%, 12%);
	background-color: hsl(0, 0%, 98%);
	padding: 2rem 10%;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.4;
}

a {

	color: hsl(214, 81%, 35%);
}

strong {
	
	color: hsl(214, 68%, 22%);
}

em {
	
	background-color: #fff;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

img {

	max-width: 100%;
	height: auto;
}

.site-banner {
	
	border-bottom: $spacing-unit solid hsl(214, 81%, 35%);
	margin-bottom: 1rem;
}

.reset-heading {

	font-size: 1rem;
	font-weight: normal;
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	
	position: relative;
	word-break: break-all;
}

.heading {

	font-weight: bold;
}

.heading--alpha {

	font-size: 2rem;
}

.post {
	
	.p-description {
		
		border-top: 1px solid hsl(0, 0%, 80%);
		padding-top: 30px;
		border-bottom: 1px solid hsl(0, 0%, 80%);
		padding-bottom: 30px;
		font-size: 1.15rem;
	}
	
	h1 {
		font-size: 1.7rem;
		
	}
	
	h2 {
		font-size: 1.45rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
} 

.reset-list {

	list-style: none;
	list-style-image: none;
	padding-left: 0;
}

.list--standard {

	padding-left: 2rem;
}

.list--standard > li {

	margin-bottom: 0.5rem;
}

.list--inline {

	display: inline;
}

.list--inline > li {

	display: inline;
}


.list--csv > li:after {

	content: ",";
}
.list--csv > li:last-child:after {

	display: none;
}

.reset-figure {
	margin: 0;
	display: inline-block;
}
.reset-figcaption {
}
.reset-line-height {
	line-height: 0;
}


.card--profile {
	
	border: spacing(1) solid hsl(0, 0%, 100%);
	
	text-align: center;
	
	.card__text {
		color: hsl(0, 0%, 98%);
	}
	.card__text__heading {
		background-color: hsl(214, 81%, 40%);
	}
	.card__text__description {
		background-color: hsl(214, 81%, 35%);
	}
}
.card__text {
	font-weight: 100;
}
.card__text__heading {
	padding: 0.5rem;
	margin-bottom: 0;
	font-weight: inherit;
}
.card__text__description {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0.5rem;
	font-weight: inherit;
}

.card--linked {
	text-decoration: none;
	display: inline-block;
}
.card--article {
	border: spacing(1) solid hsl(214, 81%, 35%);
	background-color: white;
	
	.card__text__heading {
		border-bottom: 1px solid hsl(214, 81%, 35%);
	}
}
.card__link-target {
	text-decoration: underline;
}
@media (min-width: 532px) {

	.card--profile {
		float: right;
		margin-left: spacing(4);
		margin-bottom: spacing(4);
	}
}

.wrap {
	max-width: 55rem;
	margin-right: auto;
	margin-left: auto;
}

blockquote {


    border: 1px solid #0e448a;
    background-color: hsl(0, 0%, 95%);
    padding: 0 1rem;
		position: relative;
		margin-bottom: 2rem;
		
		> :first-child {
			
			&:before {
				
				content: "";
				margin-left: 2rem;
			}
		}
		
		> :last-child {
			
			&:after {
				
				content: "";
				margin-right: 2rem;
			}
		}
		
		&:before {
			
			content: "“";
	    color: #0e448a;
			font-size: 3rem;
			position: absolute;
			top: 0;
			left: 1rem;
			line-height: 1.5;
		}
		
		&:after {
			
			content: "”";
	    color: #0e448a;
			font-size: 3rem;
			position: absolute;
			bottom: 0;
			right: 1rem;
			line-height: 0.5;
		}
}

a {
	word-break: break-all;
	display: inline;
}

[href*="//"]:not([href*="benjamin.parry.is"]) {
	position: relative;
	
	&:after {
		content: "\2009»";
		display: inline-block;
	}
}


.heading__anchor {
	position: relative;
	border-top: 1px solid hsl(0, 0%, 88%);
	padding-top: 1.5rem;
	margin-top: 1.75rem;
	display: block;
	
}
.e-content h2:first-child .heading__anchor {
	
	padding-top: 0;
	border-top: none;
	
	&:before {
		top: 0;
	}
}

.heading__anchor:before {
	content: '#';
	position: absolute;
	top: 1.5rem;
	left: -1em;
}

// http://type-scale.com/
