
// § General site styles
// =====================

/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img, embed, object, video {
max-width:100%;
}

html {
	height: 100%;
}

body {
	background: $site-colour-background;
	color: $site-colour-type;
	/* TODO: Add site frame border colour as a variable */
	/* TODO: Work out a relative border width site frame border */
	border: 6px solid #0F448B;
	padding: 1em 10%;
	min-height: 100%;
}

.wrap {
	margin: 0 auto;
	/* TODO: Create a RWD solution to this */
	// max-width: 71.875em;
}

a {
	/* TODO: Add site link colours as a variable */
	color: lighten(#0F448B, 5%);
}

img {
	border: 1px solid lighten(#0F448B, 5%);
}

.external-images {
	a {
		margin-right: 1em;
	}
}

.full-image {

	text-align: center;
	img {

	}
}