---
permalink: /collecting/links/
layout: default
---

<ul class="reset-list list list--inline list--breadcrumb utility-font-size-80">
  <li><a href="/">Home</a></li>
  <li><a href="/collecting/">Collecting</a></li>
	<li><span>Links</span></li>
</ul>

<h1>Collecting: links</h1>

<ul>
	{% for item in site.collecting reversed | sort: 'date' %}
	{% if item.category contains 'links' %}
	<li>
		<article class="h-entry">
			<h1 class="p-description">
				<a class="u-url u-syndication" href="{{ item.url }}" rel="syndication">{{ item.title }}</a>
			</h1>
			<div class="p-name e-content">
				{{ item.content }}
			</div>
			<footer>
				<p class="meta">
					Posted: <time class="dt-published" datetime="{{ item.date | date: "%d %B %Y" }}">{{ item.date | date: "%d %B %Y" }}</time>
				</p>
			</footer>
		</article>
	</li>
	{% endif %}
	{% endfor %}
</ul>
