---
permalink: /collecting/thoughts/
layout: default
---

<ul class="reset-list list list--inline list--breadcrumb utility-font-size-80">
  <li><a href="/">Home</a></li>
  <li><a href="/collecting/">Collecting</a></li>
  <li><a href="/collecting/thoughts/">Thoughts</a></li>
  <li><span>{{ item.title }}</span></li>
</ul>

<h1 class="heading heading--alpha">Collecting: thoughts</h1>

<ul class="reset-list list--divided">
	{% for item in site.collecting reversed | sort: 'date' %}
	{% if item.category contains 'thoughts' %}
	<li>
		<article class="h-entry">
			<h1 class="p-description">
				<a class="u-url u-syndication" href="{{ item.url }}" rel="syndication">{{ item.title }}</a>
			</h1>
			<div class="p-name e-content">
				<!-- Wrapped in a <p> bacause the posse content is in the headstuff -->
				<p>{{ item.posse }}</p>
			</div>
			<footer class="utility-font-size-80">
				<p class="meta">
					Posted: <time class="dt-published" datetime="{{ item.date | date: "%d %B %Y" }}">{{ item.date | date: "%d %B %Y" }}</time>
				</p>
			</footer>
		</article>
	</li>
	{% endif %}
	{% endfor %}
</ul>
