---
permalink: /working/
layout: default
---

<h1>Working</h1>

<p>I’m currently working as lead designer at <a href="https://create.net">Create.net</a>. <em>Case study coming soon.</em></p>

<p>I also find time to work on a few <a href="/working/on/projects">projects</a>:</p>

<ul>
	{% for item in site.working reversed | sort: 'title' %}
	{% if item.working contains 'project' %}
	<li>
		<a class="u-url u-syndication" href="{{ item.url }}" rel="syndication">{{ item.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
