<article class="vcard h-card">

  <h1 class="heading heading--alpha"><span class="heading__utility utility-font-size-200">I’m a <strong>problem solver</strong>.</span></h1>

  <figure class="reset-figure card card--profile">
    <div class="reset-line-height">

      <img src="assets/img/profile/benjamin-parry.jpg?ts=171115175325" alt="Image of Benjamin Parry" class="u-photo card__image">
    </div>
    <figcaption class="reset-figcaption card__text">
      <h2 class="reset-heading card__text__heading p-name">Benjamin Parry</h2>
      <p class="card__text__description">Design Researcher</p>
    </figcaption>
  </figure>

  <p class="p-note utility-font-size-120"><strong>Hi, I’m Benjamin</strong>, a <strong class="role p-role">Design Researcher</strong> working at <a href="https://clearleft.com" target="_blank">Clearleft</a>, a User Experience design agency based in East Sussex, England.</p>
  <p>I strive to <strong>design intuitive and inspired products</strong> that remain accessible and performant to the end user.</p>
  <p>I achieve this by a process of tireless investigation and <strong>questioning of problems</strong>, aligning teams and stakeholders with <strong>shared understanding</strong> through workshops and participatory, iterative design.</p>
  <p>I use <a href="https://benjamin.parry.is" class="url u-url" rel="me">this website</a> for <a href="/writing/">writing</a> longform posts, <a href="/collecting/">collecting</a> <a href="/collecting/links/">links</a> and <a href="/collecting/thoughts/">thoughts</a>.</p>
  <p>Fancy a coffee? <a href="mailto:benjamin@parry.is" rel="me" class="u-email">Drop me a line</a>!</p>

  {% include elsewhere-links.html %}
</article>
