<article class="vcard">


  <h1 class="heading heading--alpha"><span class="heading__utility utility-font-size-200">I’m a <strong>problem solver</strong>.</span></h1>

  <figure class="reset-figure card card--profile">
    <div class="reset-line-height">

      <img src="assets/img/profile/benjamin-parry.jpg?ts=171115175325" alt="Photo of Benjamin Parry." class="u-photo card__image">
    </div>
    <figcaption class="reset-figcaption card__text">
      <h1 class="reset-heading card__text__heading p-name">Benjamin Parry</h1>
      <p class="card__text__description">Designer Researcher</p>
    </figcaption>
  </figure>

  <p class="p-note utility-font-size-120"><strong>Hi, I’m Benjamin</strong>, a <strong class="role p-role">Designer Researcher</strong> working at <a href="https://clearleft.com" target="_blank">Clearleft</a>, a User Experience design agency based in East Sussex, England.</p>
  <p>I strive to <strong>design intuitive and inspired products</strong> that remain accessible and performant to the end user.</p>
  <p>I achieve this by a process of tireless investigation and <strong>questioning of problems</strong>, aligning teams and stakeholders with <strong>shared understanding</strong> through workshops and participatory, iterative design.</p>
  <!-- <p class="utility-font-size-120"><a href="/about/">Find out more <strong>about</strong> how I work</a>.</p> -->
</article>
