<ul>
  <li><a href="https://twitter.com/benjaminparry" rel="me" target="_blank" class="u-url">Twitter</a></li>
  <li><a href="https://github.com/benjaminparry" rel="me" target="_blank" class="u-url">Github</a></li>
  <li><a href="http://dribbble.com/benjaminparry" rel="me" target="_blank" class="u-url">Dribbble</a></li>
  <li><a href="http://pinboard.in/u:benjaminparry" rel="me" target="_blank" class="u-url">Pinboard</a></li>
  <li><a href="http://huffduffer.com/BenjaminParry" rel="me" target="_blank" class="u-url">Huffduffer</a></li>
  <li><a href="http://lanyrd.com/profile/benjaminparry/" rel="me" target="_blank" class="u-url">Lanyrd</a></li>
  <li><a href="http://www.flickr.com/people/benjaminparry/" rel="me" target="_blank" class="u-url">Flickr</a></li>
  <li><a href="http://www.strava.com/athletes/benjaminparry" rel="me" target="_blank" class="u-url">Strava</a></li>
</ul>
