<h3>Elsewhere</h3>
<p>I&rsquo;m also available at these other websites:</p>
<ul class="reset-list list list--standard">
  <li><a href="https://twitter.com/benjaminparry" rel="me" class="u-url">Twitter</a></li>
  <li><a href="https://github.com/benjaminparry" rel="me" class="u-url">Github</a></li>
  <li><a href="https://pinboard.in/u:benjaminparry" rel="me" class="u-url">Pinboard</a></li>
  <li><a href="https://huffduffer.com/BenjaminParry" rel="me" class="u-url">Huffduffer</a></li>
  <li><a href="https://www.strava.com/athletes/benjaminparry" rel="me" class="u-url">Strava</a></li>
</ul>
