<header role="banner" class="site-banner">
	<nav role="navigation">
		<a class="heading heading--alpha{% if page.url == '/' %} active{% endif %}" href="/">Benjamin Parry</a>
		<ul class="reset-list list list--standard">
			<!-- <li class="list__item{% if page.url contains 'about' %} list__item--active{% endif %}">
				<a href="/about/"><span>About</span></a>
			</li> -->
			<li class="list__item{% if page.url contains 'writing' %} list__item--active{% endif %}">
				<a href="/writing/"><span>Writing</span></a>
			</li>
			<li class="list__item{% if page.url contains 'tagging' %} list__item--active{% endif %}">
				<a href="/tagging/"><span>Tagging</span></a>
			</li>
			<!-- <li class="list__item{% if page.url contains 'working' %} list__item--active{% endif %}">
				<a href="/working/"><span>Working</span></a>
			</li> -->
			<!-- <li class="list__item{% if page.url contains 'making' %} list__item--active{% endif %}">
			<a href="/making/">
				<span>Making</span>
			</a>
			</li
			> -->
			<li class="list__item{% if page.url contains 'collecting' %} list__item--active{% endif %}">

				<a href="/collecting/">Collecting</a>
				<!-- <ul class="reset-list list list--inline list--csv">
					<li class="list__item">
						<a href="/collecting/thoughts"><span>thoughts</span></a>
					</li>
					<li class="list__item">
						<a href="/collecting/links"><span>links</span></a>
					</li>
				</ul> -->
			</li>
			<!-- <li class="list__item{% if page.url contains 'tagging' %} list__item--active{% endif %}">
				<span>Meta</span>
			</li> -->
		</ul>
	</nav>
</header>
