<header role="banner" class="site-banner">
	<nav role="navigation">
		{% if page.url == "/index.html" %}
		<h1 class="reset-heading">
		{% endif %}
		<a class="heading heading--alpha" href="/">Benjamin Parry</a>
		{% if page.url == "/index.html" %}
		</h1>
		{% endif %}
		<ul class="reset-list list list--standard">
			<li><a href="/writing/">Writing</a></li>
			<li><a href="/working/">Working</a></li>
			<li><a href="/making/">Making</a></li>
			<li>
				<a href="/collecting/">Collecting</a>:
				<ul class="reset-list list list--inline list--csv">
					<li><a href="/collecting/thoughts">thoughts</a></li>
					<li><a href="/collecting/links">links</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
