<head>

	<!-- New -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- What is? -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- RSS feeds -->
	<link rel="alternate" type="application/rss+xml" title="Writing" href="{{ "/feed/writing.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="alternate" type="application/rss+xml" title="Links" href="{{ "/feed/links.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="alternate" type="application/rss+xml" title="Thoughs" href="{{ "/feed/thoughts.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="alternate" type="application/rss+xml" title="Lists" href="{{ "/feed/lists.xml" | prepend: site.baseurl | prepend: site.url }}" />


	<!-- Search Engines -->
	<meta name="google-site-verification" content="F5f44JohY3PYyKKneuvom64vEJLFU-Sz3B_4sxe4sT4" />

	<!-- RWD 101 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Theme -->
	<meta name="theme-color" content="#fafafa"/>

	<!-- Authorship -->
	<meta name="author" content="Benjamin Parry" />
	<link rel="author" href="{{ site.url }}" />

	<meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
	<meta name="keywords" content="benjamin, parry, benjamin parry, design, researcher, research, ux, user experience, designer, design{% if page.tags %}{% for tag in page.tags %}, {{ tag }}{% endfor %}{% else %}, writings, process{% endif %}">


	<title class="p-name">{{ site.title }}{% if page.type == "post" %}{% if page.category == "thoughts" %}~ Thoughts ~{% endif %}{% if page.category == "links" %}~ Links ~{% endif %}{% if page.category == "writing" %}~ Writing ~{% endif %} {{ page.title }} ~ @benjaminparry{% else %}{% if page.type == "tag" %} ~ Tagging ~ {% endif %}{{ page.title }}{% endif %}
	</title>

	<!-- Icons -->
	<link rel="shortcut icon" type="image/ico" src="/favicon.ico">
	<link rel="shortcut icon apple-touch-icon" type="image/png" href="/icon.png?ts=190301201120" />

	<!-- Manifest -->
	<link rel="manifest" href="/manifest.json" />

	<!-- Styling -->
	<link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">

	<!-- IndieAuth -->
	<link rel="me" href="mailto:benjamin@parry.is" />
	<link rel="me" href="sms:+447877241510" />
	<link rel="openid.delegate" href="https://benjamin.parry.is/" />
	<link rel="openid.server" href="https://indieauth.com/openid" />
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<!-- Micropub -->
	<!-- TODO https://quill.p3k.io/creating-a-micropub-endpoint -->
	<!-- <link rel="micropub" href="https://benjamin.parry.is/micropub"> -->

	<!-- Webmentions -->
	<link rel="webmention" href="https://brid.gy/publish/webmention">

	<!-- Social -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | truncate: 70 }}{% else %}{{ site.title | truncate: 70 }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description%}{{ page.description | truncate: 200 }}{% else %}{{ site.description | truncate: 200 }}{% endif %}">
	<meta name="twitter:site" content="@benjaminparry" />
	<meta name="twitter:creator" content="@benjaminparry">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{{ site.url }}/assets/img/profile/benjamin-parry-300x300.jpg" />
</head>
