<!-- Disclaimer until css file has been added -->
<div>
	<small>
		<strong>Disclaimer:</strong> Inspired by <a href="http://huffduffer.com/tags/responsiveconf" target="_blank">Responsive Day Out</a>, I’m embracing <a href="http://adactio.com/journal/6120/" target="_blank">the fluid web</a> and building this site up from <a href="/writing/ground-zero">ground zero</a>, one day at a time.
	</small>
</div>

<header role="banner">
  <nav role="navigation">
    <h1><a href="/">Benjamin Parry</a></h1>
    <ul>
      <li><a href="/writing/">Writing</a></li>
      <li><a href="/working/">Working</a></li>
    </ul>
  </nav>
</header>