<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="google-site-verification" content="OtxzR5KGYsoSTV8BxUNnTTe2zo5cyjGnBHmoQ0uN8dI">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" class="p-author" content="Benjamin Parry" />
<meta name="description" content="Benjamin Parry UX/UI Designer ~ personal writings and website.">
<meta name="keywords" content="benjamin, parry, benjamin, parry, ui, ux, design, writings, process, user experience">
<title>Benjamin Parry {% if page.type == "post" %}@benjaminparry ~ {% endif %}{{ page.title }}</title>
<link rel="Shortcut Image" type="image/ico" src="/favicon.ico">
<link rel="stylesheet" href="/css/global.min.css" media="all">