<ul class="reset-list list--divided">
	{% for post in site.posts %}
	<li class="e-content">
		<article class="h-entry">
			<h1><a rel="syndication" href="{{ post.url }}" class="p-name u-url u-syndication">{{ post.title }}</a></h1>
			<p class="p-description">{{ post.description }}</p>
			<footer class="utility-font-size-80">
				<ul>
					<li class="meta">
						Posted: <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time>
					</li>
					<!-- <li>{{ post.tags }}</li> -->
				</ul>
			</footer>
		</article>
	</li>
	{% endfor %}
</ul>
