<li>
	<article class="h-entry">
		<h1 class="p-description">
			<a class="u-url u-syndication" href="{{ post.url }}" rel="syndication">{{ post.title }}</a>
		</h1>
		<p class="p-name e-content">
			<span style="margin-left:-25px;">{% if post.category == "thoughts" %}🤔️{% endif %}{% if post.category == "links" %}🔗️{% endif %}{% if post.category == "writing" %}✏️{% endif %}</span> {{ post.posse }}

			{% if post.notes %}
			<a class="u-url u-syndication" href="{{ post.url }}" rel="syndication">Read my notes</a>
			{% endif %}
		</p>
		<footer class="utility-font-size-80">
			<ul class="meta">
				<li>
					Filed under: <a href="{{ post.filed-under }}">{{ post.category }}</a>
				</li>

				{% if post.tags != empty %}
				<li>Tagged with:
					<ul class="">
						{% for tag in post.tags %}
						<li><a href="/tagging/{{ tag }}" class="tag">{{ tag }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}

				<li>
					Collected: <time class="dt-published" datetime="{{ post.date | date: "%d %B %Y" }}">{{ post.date | date: "%d %B %Y" }}</time>
				</li>
			</ul>
		</footer>
	</article>
</li>
