html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {

	height: 100%;
}

body {

	margin: 0;
	min-height: 100%;
	border: 6px solid hsl(214, 81%, 30%);
	color: hsl(270, 3%, 12%);
	background-color: hsl(0, 0%, 98%);
	padding: 2rem 10%;
	font-size: 16px;
	font-family: sans-serif;
}

a {

	color: hsl(214, 81%, 35%);
}



.reset-list {

	list-style: none;
	list-style-image: none;
	padding-left: 0;
}

.list--standard {

	padding-left: 2rem;
}

.list--standard > li {

	margin-bottom: 0.5rem;
}

.list--inline {

	display: inline;
}

.list--inline > li {

	display: inline;
}


.list--csv > li:after {

	content: ",";
}
.list--csv > li:last-child:after {

	display: none;
}


