// § Typeography
// =============

$site-font: sans-serif;


// § Colour
// ========
$site-colour-background: #FAFAFA;
$site-colour-type: #1E1D1F;

// § Palette 01 
// ============
// $site-colour-background: #F1E6D4;
// $site-colour-type: #100B0A;