---
layout: default
---
<ul class="reset-list list list--inline list--breadcrumb utility-font-size-80">
  <li><a href="/">Home</a></li>
  <li><a href="/collecting/">Collecting</a></li>
	<li>
		{% if page.category == "thoughts" %}
		<a href="/collecting/thoughts/">Thoughts</a>
		{% endif %}
		{% if page.category == "links" %}
		<a href="/collecting/links/">Links</a>
		{% endif %}
	</li>
  <li><span>{{ page.title }}</span></li>
</ul>

<article class="h-entry">
	<h1 class="p-name heading heading--alpha">{{ page.title }}</h1>
	<p class="p-description posse p-summary">{{ page.posse }}</p>
  {% if page.category == "links" %}
  <a class="u-url" href="{{ page.link }}" target="_blank">{{ page.link }}</a>
  {% endif %}
	<div class="e-content">
    {% if page.category == "links" %}
    {% if page.notes %}
    <h2>My notes</h2>
    {% endif %}
    {% endif %}
		{{ content }}
	</div>
  <footer class="page-footer">
    <div class="">
       {% webmentions %}
    </div>
    <ul>
      <li>Author: <a href="{{ page.url }}" rel="author" class="p-author h-card">Benjamin Parry</a></li>
      <li>Published: <time class="dt-published" datetime="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%d %B %Y" }}</time></li>
      <li><a rel="syndication" href="{{ page.url }}" class="u-url u-syndication">permalink</a></li>
    </ul>
  </footer>
  <div class="off-screen">
    <!-- Bridg.ly POSSE link -->
    <a href="https://brid.gy/publish/twitter"></a>
  </div>
</article>
