---
layout: default
---

<article class="h-entry">
	<h1 class="p-name">{{ page.title }}</h1>
	<p class="p-description">{{ page.description }}</p>
	<div class="e-content">
		{% if page.category == "thoughts" %}
		{{ page.posse }}
		{% endif %}
		{{ content }}
		{% if page.category == "links" %}
		&raquo; <a class="u-url" href="{{ page.link }}" target="_blank">{{ page.link }}</a>
		{% endif %}
	</div>
	<footer>
		<p>Published: <time class="dt-published" datetime="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%d %B %Y" }}</time></p>
		<a rel="syndication" href="{{ page.url }}" class="u-url u-syndication">permalink</a>
	</footer>
</article>
