<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=​"viewport" content=​"width=device-width, initial-scale=1.0" />​
    <meta name="author" content="Benjamin Parry" />
    <title>Benjamin Parry {% if page.type == "post" %}@benjaminparry ~ {% endif %}{{ page.title }}</title>
    <link rel=​"Shortcut Icon" type=​"image/​ico" href=​"/​favicon.ico">​
    <link rel="stylesheet" href="/css/global.min.css" media="all">
  </head>
  <body>
    {% include header.html %}
    <section>
      {{ content }}
    </section>
    {% include footer.html %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31194618-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>