---
layout: default
---

{% assign post = page %}

<ul class="reset-list list list--inline list--breadcrumb utility-font-size-80">
  <li><a href="/">Home</a></li>
  <li><a href="/writing/">Writing</a></li>
  <li><span>{{ page.title }}</span></li>
</ul>

<article class="h-entry">
	<h1 class="p-name heading heading--alpha">{{ page.title }}</h1>
	<p class="p-description posse p-summary">
    {{ page.posse }}
  </p>
	<div class="e-content">
		{{ content }}
	</div>
	<footer class="page-footer">
    <ul>
      <li>Author: <a href="{{ page.url }}" rel="author" class="p-author h-card">Benjamin Parry</a></li>
      <li>Published: <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B %Y" }}</time></li>

      {% if page.tags != empty %}
      <li>Tagged with:
        <ul class="">
        {% for tag in page.tags %}
        <li><a href="/tagging/{{ tag }}" class="tag">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </li>
      {% endif %}

      <li><a rel="syndication" href="{{ page.url }}" class="u-url u-syndication">Permalink</a></li>
    </ul>
	</footer>
  <div class="off-screen">
    <!-- Bridg.ly POSSE link -->
    <a href="https://brid.gy/publish/twitter"></a>
  </div>
</article>
