---
layout: default
---

{% include breadcrumbs.html %}

<article class="h-entry">
	<h1 class="p-name heading heading--alpha">{{ page.title }}</h1>
	<p class="p-description posse p-summary">
    {% if page.category == "thoughts" %}🤔️{% endif %}{% if page.category == "links" %}🔗️{% endif %}{% if page.category == "writing" %}✏️{% endif %} {{ page.posse }}{% if page.category == "links" %} <a class="u-url" href="{{ page.link }}" target="_blank">{{ page.link }}</a>{% endif %}
  </p>
	<div class="e-content">
    {% if page.category == "links" %}
    {% if page.notes %}
    <h2>My notes</h2>
    {% endif %}
    {% endif %}
		{{ content }}
	</div>
  <footer class="page-footer">

    <!--
    Repetition here, would prefer to use below
    {% include post-meta.html %}
    -->

    <ul class="meta">
      <li>Author: <a href="{{ page.url }}" rel="author" class="p-author h-card">Benjamin Parry</a></li>
      <li>
        Filed under: <a href="{{ page.filed-under }}">{{ page.category }}</a>
      </li>

      {% if page.tags != empty %}
      <li>Tagged with:
        <ul class="reset-list list list--inline list--csv">
          {% for tag in page.tags %}
          <li><a href="/tagging/{{ tag }}" class="tag">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}

      <li>
        {% if page.category == "writing" %}Written{% else %}Collected{% endif %}: <time class="dt-published" datetime="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%d %B %Y" }}</time>
      </li>
			<li>
				Permalink: <a href="{{ page.url }}">Permalink</a>
			</li>
    </ul>

  </footer>
  <div class="off-screen">
    <!-- Bridg.ly POSSE link -->
    <a class="u-url" href="https://brid.gy/publish/twitter"></a>
  </div>
</article>
