---
layout: default
---

<ul class="reset-list list list--inline list--breadcrumb utility-font-size-80">
  <li><a href="/">Home</a></li>
	<li><a href="/tagging/">Tagging</a></li>
	<li><span>{{ page.name }}</span></li>
</ul>

<h1 class="heading heading--alpha">Tagging: {{ page.name }}</h1>

{% if site.tags[page.slug] %}
  <ul class="reset-list">
    {% for post in site.tags[page.slug] %}
    <li>
      {% include post-emojis.html %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      <small>{{ post.date | date: "%d %B %Y" }}</small>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>There are no posts in this tag.</p>
{% endif %}
